.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#overlay {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(5, 114, 177, 0.9);
  z-index: 2;
  cursor: pointer;
}
#imgEsp{
  width: 600px;
  height: 600px;
}
.topnav {
    overflow: hidden;
  }
.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}
.topnav a:hover {
  text-decoration-color: rgba(0, 0, 0, 1);
}
.topnav a.active {
  float: left;
  background-color: #7f55ab;
  color: white;
}
.center{
  align-items: center;
  justify-content: center;
}

.card{
  width: 350px;
  height: 550px;
  border-color:darkviolet;
  border-width: thin;
  border-style: solid;
  display: flex;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  border-radius: 1px;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.btn_holder{
    justify-content: flex-end;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{    
    height: 270px;
    width: 100%;
}
.big-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
}

footer {
  text-align: center;
  padding: 3px;
  color: black;
  position: absolute;
  bottom: 0px;
  height: 120px;
  width: 100%;
}