@font-face {
    font-family: grobold;
    src: url(Kanit-Light.ttf);
}
a,a:hover, a:visited{
    border:none;
    outline:none;
    text-decoration:none;
    color:inherit;
  }
body{
    background-color: cornsilk;
    font-family: grobold;
}
nav{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color:darkcyan;
    text-align: center;
    vertical-align: middle;
}
.active{
    padding: 14px 16px;
    background-color: gold;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.STFU{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
    vertical-align: middle;
    flex: 0 0 120px
}
.HL{
    background-color: khaki;
}
table, th, td{
    border: 1px black solid;
}
button{
    background-color: rebeccapurple;
    color: white;
    border: 0px;
    padding: 5px;
    margin: 10px;
}