@font-face {
  font-family: title;
  src: url(BlackishDemoRegular.ttf);
}
@font-face {
  font-family: nf;
  src: url(normalFont.ttf);
}
body{
  font-family:nf;
}
h1{
  font-family:title;
  text-align: center;
  font-size:40px;
}
.divconta{
  display: flex;
  flex-direction: row;
  width: 80%;
  align-self: center;
}
.divconta *{
  margin: 0px;
  margin-right: 20px;
}
.divconta button{
  width: 50px;
}
.divconta p{
  text-align: center;
  border: 1px solid black;
  width: 30px;
  height: 30px;
}
.cart-box{
  display: flex;
  flex-direction: row;
  float:right;
}
.cart-img{
  height:24px;
  width:24px;
  margin:10px
}
.shop{
  display: flex;
  flex-direction: row;
}
.shop:hover .cart-preview{
  display:block;
}
.snippet {
  border: 1px rgb(5, 51, 92) solid;
  rotate: 45deg;
  position: absolute;
  background-color: rgb(5, 51, 92);
  width: 10px;
  height: 10px;
  top: 52px;
  left: 84px;
}
.cart-preview{
  display: none;
  border: 1px rgb(5, 51, 92) solid;
  position: absolute;
  width: 300px;
  height: 300px;
  top:50px;
  right:170px;
  z-index: 3;
  background-color: whitesmoke;
  color: black;
}
.cart-preview *{
  opacity:1;
}
.cart-row{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  padding: 8px;
  border: 1px solid black;
}
.cart-row img{
  width: 48px;
  height: 48px;
}
.cart-row .info{
  margin-left: 16px;
  flex-grow: 1;
}
.cart-row .total{
  margin-left: 16px;
}
/* only animate if the device supports hover */
@media (hover: hover) {
    #creditcard {
      /*  set start position */
      transform: translateY(110px);
      transition: transform 0.1s ease-in-out;
      /*  set transition for mouse enter & exit */
    }
  
    #money {
      /*  set start position */
      transform: translateY(180px);
      transition: transform 0.1s ease-in-out;
      /*  set transition for mouse enter & exit */
    }
  
    button:hover #creditcard {
      transform: translateY(0px);
      transition: transform 0.2s ease-in-out;
      /*  overide transition for mouse enter */
    }
  
    button:hover #money {
      transform: translateY(0px);
      transition: transform 0.3s ease-in-out;
      /*  overide transition for mouse enter */
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.25rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .button:hover .button__text span {
    transform: translateY(-0.25rem);
    transition: transform .2s ease-in-out;
  }
  

  
  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
  .button {
    border: none;
    outline: none;
    background-color: purple;
    padding: 1rem 90px 1rem 2rem;
    position: relative;
    border-radius: 8px;
    letter-spacing: 0.7px;
    background-color: #5086bd;
    color: #fff;
    height: auto;
    width: auto;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    margin:10px;
    box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
  }
  
  .button:active {
    transform: translateY(1px);
  }
  
  .button__svg {
    position: absolute;
    overflow: visible;
    bottom: 6px;
    right: 0.2rem;
    height: 140%;
  }